<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Vue Basics</title>
  <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
  />
  <link rel="stylesheet" href="styles.css"/>
  <script src="https://unpkg.com/vue@next" defer></script>
  <script src="app.js" defer></script>
</head>
<body>
<header>
  <h1>Vue Course Goals</h1>
</header>
<section id="user-goals">
  <h2>My course goals</h2>
  <input v-model="enteredValue" type="text"/>
  <button @click="addGoal">Add Goal</button>
  <!-- you could also use "v-show". The difference is that v-show only add display:none
       to the element where the condition is not met. In comparison, v-if wouldn't render the element
       at all (i.e. not showing it in the html). This can be useful if you have an element
       that changes a lot, so removing and adding it to the html all the time could cost
       a lot of performance, whereas with v-show you can avoid this.
  -->
  <p v-if="isEmpty()">No goals have been added yet - please start adding some!</p>
  <!-- v-else / v-else-if have to come directly after a v-if directive -->
  <ul v-else>
    <!--
    About :key -- We should use it whenever we use v-for since otherwise vue cannot distinguish
    between the dynamically added elements (it doesn't do any content comparisons, which is good performance wise)
    E.g. when you delete a list element it reuses the first element instead of replacing it completely,
    which could lead to inconsistent states.
    -->
    <li v-for="(goal, index) in goals" @click="removeGoal(index)" :key="goal">
      <p>{{ goal }} - {{ index }}</p>
      <input type="text" @click.stop>
    </li>
  </ul>
  <!-- Numbered list (1-10)
   <ul>
     <li v-for="num in 10">{{ num  }}</li>
   </ul>
 -->
  <!-- Iterating through an object (key,value) pairs
  <ul>
    <li v-for="(value, key, index) in {name: 'Max', age: 38}">[{{ index }}] {{ key  }}: {{ value  }}</li>
  </ul>
  -->
</section>
</body>
</html>
