<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Vue Basics</title>
  <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
  />
  <link rel="stylesheet" href="styles.css"/>
  <script src="https://unpkg.com/vue@next" defer></script>
  <script src="app.js" defer></script>
</head>
<body>
<header>
  <h1>Monster Slayer</h1>
</header>
<div id="game">
  <section id="monster" class="container">
    <h2>Monster Health</h2>
    <div class="healthbar">
      <div class="healthbar__value" :style="monsterHealthBarStyle"></div>
    </div>
  </section>
  <section id="player" class="container">
    <h2>Your Health</h2>
    <div class="healthbar">
      <div class="healthbar__value" :style="playerHealthBarStyle"></div>
    </div>
  </section>
  <section class="container" v-if="winner">
    <h2>The game is over!</h2>
    <h3 v-if="monsterWon">You lost!</h3>
    <h3 v-else-if="playerWon">You won!</h3>
    <h3 v-else>It's a draw!</h3>
    <button @click="reset">Start new game</button>
  </section>
  <section id="controls" v-else>
    <button @click="attackMonster">ATTACK</button>
    <button :disabled="!specialAttackEnabled" @click="launchSpecialAttack">SPECIAL ATTACK</button>
    <button @click="heal">HEAL</button>
    <button @click="surrender">SURRENDER</button>
  </section>
  <section id="log" class="container">
    <h2>Battle Log</h2>
    <ul>
      <li v-for="log in logs" :key="log">
          <span
              :class="{'log--player': log.subject === 'Player', 'log--monster': log.subject === 'Monster'}"
          >
            {{ log.subject }}
          </span>
        - {{ log.action }} -
        <span
            :class="{'log--damage': log.action === 'attack', 'log--heal': log.action === 'heal'}">
          {{ log.value }}
        </span>
      </li>
    </ul>
  </section>
</div>
</body>
</html>
